body {
  min-height: 100vh;
  font-family: 'Shadows Into Light', cursive;
  background-image: url('../asset/taylorfondo1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #7ffffd;
}
/*-----prueba----*/
h1 {
  color: $color-titulo;
  text-align: center;
}

h2 {
  color: $color-principal;
}