// ==========================
// VARIABLES GENERALES
// ==========================

$color-fondo: black;
$color-texto: white;
$color-principal: #0dcaf0;
$color-titulo: red;

$fuente-principal: Arial, Helvetica, sans-serif;

// ==========================
// MAPA DE REDES SOCIALES
// ==========================

$redes: (
  instagram: #E1306C,
  twitter: #1DA1F2,
  youtube: #FF0000,
  facebook: #1877F2
);