@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Shadows+Into+Light&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
/* ============================= */
/* RESET */
/* ============================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============================= */
/* BODY */
/* ============================= */
body {
    min-height: 100vh;
    background-image: url("../asset/taylorfondo1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Shadows Into Light', cursive;
    background-color: black;
    color: #7fffd4;
}
h1{
    letter-spacing: 3px;
}
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}
footer {
    border-top: 1px solid #00ffff;
}

/* OSCURECER FONDO */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* ============================= */
/* HEADER */
/* ============================= */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between; /* izquierda y derecha */
    align-items: center;
    z-index: 100;
}

/* LOGO */
.logo {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: red;
}

/* NAV */
.nav {
    display: flex;
    gap: 30px;
}

.nav a {
    color: #7fffd4;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 2px;
    transition: 0.3s;
}

.nav a:hover {
    color: white;
    opacity: 0.6;
}

/* ============================= */
/* HERO */
/* ============================= */
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 120px;
    text-align: center;
    margin-bottom: 60px;
}

.hero h1 {
    font-size: 2.5rem;
    letter-spacing: 4px;
    margin-bottom: 10px;
    color: red;
}

.hero p {
    font-size: 1.1rem;
    opacity: 0.8;
    margin-bottom: 40px;
    color: aquamarine;
}

/* ============================= */
/* STORE SECTION */
/* ============================= */
.store {
    text-align: center;
    padding: 80px 40px;
}

.store h2 {
    font-size: 1.8rem;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

/* Línea decorativa */
.linea {
    width: 80px;
    height: 2px;
    background-color: white;
    margin: 20px auto 40px;
}

/* PRODUCTOS */
.productos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.producto {
    text-align: center;
}

.producto img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border: 2px solid #7fffd4;
    border-radius: 8px;
    transition: transform 0.3s;
}

.producto img:hover {
    transform: scale(1.05);
}

/* BOTON */
.producto button {
    margin-top: 15px;
    padding: 10px 20px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.3s;
    font-weight: bold;
}

.producto button:hover {
    background: #ddd;
}